<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="tnt.crasher.restaurant_management_system">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Admin.MenuTable"></activity>
        <activity android:name=".Admin.AdminLogin" />
        <activity android:name=".User.Checkout" />
        <activity android:name=".User.MenuDish"
            android:theme="@style/AppThemActionAkbar"
            />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".User.VIP.MenuVIP" />
        <activity android:name=".Staff.MainStaff" />
        <activity android:name=".Staff.MenuStaff" />
        <activity android:name=".User.VIP.PointsVIP" />
        <activity android:name=".User.VIP.MembershipVIP" />
        <activity android:name=".User.VIP.AccessVIP" />
        <activity android:name=".Admin.AdminMenu" />
        <activity android:name=".Admin.MenuUpdate" />
        <activity android:name=".User.ThankYou" />
    </application>

</manifest>